{% extends "app/base.html" %}{% load i18n %}{% get_current_language as LANGUAGE %}
{% block title_wrapper %}
  <title>about entry area - {% trans "eager society" %}</title>
{% endblock %}

{% block content %}
  <p class="title">entry area</p>
  <br>
  {% if LANGUAGE == "en" %}
    entry area is a social media website which has a format like a dictionary.
  {% elif LANGUAGE == "tr" %}
    entry area, ekşi sözlüğün çıkarmış olduğu sözlük formatını baz alarak uygulanmış enternasyonal bir sitedir.
  {% endif %}
{% endblock %}