<div entry-id="{{ entry.id }}">
  <div class="panel-body">
{#    {{ entry.body | linebreaksbr | lower }}#}
    {% autoescape off %}
      {{ entry.get_body | linebreaks | lower }}
    {% endautoescape %}
    {#    {{ entry.get_body | lower | linebreaksbr }}#}
    {#        {% autoescape off %}#}
    {#            {{ entry.body }}#}
    {#        {% endautoescape %}#}
  </div>
  <div class="cartcurt">{% load i18n %}
{#    {% if user.is_authenticated and user.id == entry.user_id %}#}
    {% if user.is_authenticated and user.get_username == entry.username %}
      <a href="{% url 'entry:delete' entry.id %}" style="margin-left: 5px" class="btn btn-xs">{% trans "delete" %}</a>
      <a href="{% url 'entry:update' entry.id %}" class="btn btn-xs">{% trans "edit" %}</a>
      <p>{{ is_faved }}</p>
    {% endif %}
{#    <a href="{% url 'entry:favorite' entry.id %}"> Fav</a>#}

{#  <a href="#" class="like" title="">#}
{#    {% with favs=request.user.favs.all %}#}
{#      {% if favs in entry.favs.all %}#}
{#        <i class="heart fa fa-heart" aria-hidden="true">faved</i>#}
{#      {% else %}#}
{#        <i class="heart fa fa-heart-o" aria-hidden="true">unfav</i>#}
{#      {% endif %}#}
{##}
{##}
{#    {% endwith %}#}
{#      <a ... onclick="return confirm('Are you sure you want to delete this?')">Delete</a>#}
{#      <span class="like-count">{% with cnt=entry.favs.count %}{{ cnt }}{% endwith %}</span>#}
    {#    {{ entry.get_favs }} xx {{ entry.favs.all }}#}
    <a href="#" class="pull-right"
       style="padding-right: 10px; padding-left: 30px;">{{ entry.username }}</a>
    {% if entry.updated_at %}
      <a href="{{ entry.get_absolute_url }}" class="pull-right" style="padding-right: 0px">
        {% if entry.created_at|date:"d.m.Y" == entry.updated_at|date:"d.m.Y" %}
          {{ entry.created_at|date:"d.m.Y H:i" }} ~ {{ entry.updated_at|date:"H:i" }}
        {% else %}
          {{ entry.created_at|date:"d.m.Y H:i" }} ~ {{ entry.updated_at|date:"d.m.Y H:i" }}
        {% endif %}
      </a>
    {% else %}
      <a href="{{ entry.get_absolute_url }}" class="pull-right"
         style="padding-right: 0px"> {{ entry.created_at|date:"d.m.Y H:i" }}</a>
    {% endif %}

    <a href="/entry/{{ entry.id }}" class="pull-right" style="padding-right: 30px">#{{ entry.id }}</a>
    <br>
    <br>
  </div>
</div>