{% if user.is_authenticated %}{% load i18n %}
  {% if not thread.is_closed %}
    <form action="
      {% if thread %}
        {% url "entry:create" thread.slug %}
      {% else %}
        {% url "thread:new" %}
      {% endif %}" method="post" id="ea">{% csrf_token %}
      <div class="field">
        <div class="control">
          {% if not thread %}
            {{ tform.as_p }}
            {{ eform.as_p }}
          {% else %}
            {{ form.as_p }}
          {% endif %}
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button name="save" class="button is-primary is-outlined is-rounded" type="submit">{% trans "send" %}</button>
          <button name="hide" class="button is-link is-outlined is-rounded is-pulled-right" type="submit">{% trans "hide" %}</button>
        </div>
      </div>
    </form>
  {% else %}
    {% trans "thread is closed." %}
  {% endif %}
{% else %}
  <p class="entry">{% trans "please" %}
    <a href="{% url 'user:login' %}?next={{ request.path }}" class="primary">{% trans "enter" %}</a>
    {% trans "to write" %}
  </p>
  {#  TODO: convert to blocktrans #}
{% endif %}
