{% if user.is_authenticated %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          {% if tform.errors %}
            alert
             {{ tform.errors.as_json }}
          {% endif %}
          {% if tform.is_valid %}
            Valid
            {% endif %}
          {{ tform.as_p }}
          {{ eform.as_p }}
          <p><input type="hidden" value="{{ title }}"></p>
          <button type="submit" class="btn btn-default">Share</button>
        </div>
      </form>
    </div>
  </div>
{% else %}
  <p class="text-center">please <a href="{% url 'user:login' %}?next={{ title }}">sign in</a>
    to write in this thread.</p>
{% endif %}
</div>