{% extends "app/base.html" %}{% load i18n %}{% load widget_tweaks %}
{% block title %}
  {{ title|lower }}
{% endblock %}
{% block content %}
  {% if validlink %}

    <p class="title">{% trans title|lower %}</p>
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly."|lower %}</p>
    <br>
    <form method="post">{% csrf_token %}

      <div class="field">
        <label class="label">{% trans "password" %}</label>
        <div class="help is-danger">
          {{ form.new_password1.errors|lower }}
        </div>
        <div class="control">
          {% render_field form.new_password1 class="input" %}
        </div>
      </div>
      <div class="field">
        <label class="label">{% trans "password again" %}</label>
        <div class="help is-danger">
          {{ form.new_password2.errors|lower }}
        </div>
        <div class="control">
          {% render_field form.new_password2 class="input" %}
        </div>
      </div>
      <input class="button is-primary" type="submit" value="{% trans 'Change my password'|lower %}">
    </form>
  {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset."|lower %}</p>
  {% endif %}
{% endblock %}