{% extends "app/base.html" %}{% load i18n %}{% load widget_tweaks %}
{% block title %}
  {% trans 'Password reset'|lower %} -
{% endblock %}

{% block content %}
  <p class="title">{% trans 'Password reset'|lower %}</p>
  <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one."|lower %}</p>
  <br>
  <form method="post">
    {% csrf_token %}
    <div class="help is-danger">{{ form.email.errors|lower }}</div>
    <div class="field">
      <label class="label">{% trans "email" %}: </label>
      <div class="control">
        {% render_field form.email class="input" %}
      </div>
    </div>
    <input class="button is-primary" type="submit" value="{% trans 'Reset my password'|lower %}">

  </form>
{% endblock %}