.navbar-default {
    background-color: #2d2d2d;
}

.navbar-default .navbar-brand {
    color: #f7a31c;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a {
    color: #f7a31c;
}

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    color: #f7a31c;
}
.panel-default > .panel-heading {
    background-color: #2d2d2d;
    color: #eaeaea;
}
.panel-body {
    background-color: #2d2d2d;
}
.pagination > li > a, .pagination > li > span {
    background-color: #2d2d2d;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    background-color: #f7a31c;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    background-color: #f7a31c;
}
input, button, select, textarea {
    background-color: #2d2d2d;
    color: #eaeaea;
}
.cartcurt {
    background-color: #2d2d2d;
}
a {
    color: #f7a31c;
}
.panel-body > p {
    color: #eaeaea;
}

.panel-default {
    background-color: #2d2d2d;
}