#lang-switcher {
    position: fixed;
    right: 15px;
    bottom: 15px;
    margin: 0;
    padding: 0;
    z-index: 1;
    pointer-events: none;
    list-style: none;
}

#lang-switcher ul {
    text-align: right;
}
#doc-languages {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#doc-languages li {
    display: none;
    margin: 0 3px;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    color: #2d2d2d;
    font-size: 12px;
    font-size: 1.2rem;
    pointer-events: auto;
}

#doc-languages li a {
    display: inline-block;
    background: #eaeaea;
    color: #f7a31c;
    text-decoration: none;
    font-weight: 700;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}
#doc-languages li.current {
    display: inline-block;
    background: #f9b74d;
    padding: 8px 15px;
    border: 1px solid #CFE3DC;
    border-radius: 4px;
}

#doc-versions:hover li, #doc-versions .hover-on li, #doc-languages:hover li, #doc-languages .hover-on li {
     display: inline-block;
}
/*#lang-switcher:hover {*/
    /*display: inline-block;*/
/*}*/
#doc-versions:hover, #doc-versions .hover-on, #doc-languages:hover, #doc-languages .hover-on {
    pointer-events: auto;
}

