<div class="level-item">
    <a href="/tag/relationships/" title="fall in love, women, men, trans" class="taq">#relationships</a>
  </div>
  <div class="level-item">
    <a href="/tag/world/" title="earth" class="taq">#world</a>
  </div>
  <div class="level-item">
    <a href="/tag/music/" title="cıstık jıstic" class="taq">#music</a>
  </div>
  <div class="level-item">
    <a href="/tag/technology/" title="know-how" class="taq">#technology</a>
  </div>
  <div class="level-item">
    <a href="/tag/software/" title="programming" class="taq">#software</a>
  </div>
  <div class="level-item">
    <a href="/tag/others/" title="no name" class="taq">#others</a>
  </div>
<div class="level-item">
  <div class="dropdown is-hoverable is-right">
    <div class="dropdown-trigger">
      <svg class="dots-icon" style="fill: #BDBDBD">
        <use xlink:href="#dots-icon"></use>
      </svg>
    </div>
    <div class="dropdown-menu">
      <div class="dropdown-content">
        <a href="/tag/literature/" class="dropdown-item taq"
           title="dostoyevski, kafka, dickens">#literature</a>
        <a href="/tag/personality/" class="dropdown-item taq"
           title="people, persons etc.">#personality</a>
        <a href="/tag/economy/" class="dropdown-item taq"
           title="money bitch">#economy</a>
        <a href="/tag/vehicle/" class="dropdown-item taq"
           title="otomobiles, motors, flys">#vehicle</a>
        <a href="/tag/entry-area/" class="dropdown-item taq"
           title="things in entryarea">#entry-area</a>
        <a href="/tag/politics/" class="dropdown-item taq"
           title="lie, lies">#politics</a>
        <a href="/tag/ideas/" class="dropdown-item taq"
           title="functional">#ideas</a>
        <a href="/tag/art/" class="dropdown-item taq"
           title="artistic stuf">#art</a>
        <a href="/tag/movie/" class="dropdown-item taq"
           title="tarantinos, holywood">#movie</a>
        <a href="/tag/tv/" class="dropdown-item taq"
           title="all about series, tv shows etc.">#tv</a>
        <a href="/tag/education/" class="dropdown-item taq"
           title="universities">#education</a>
        <a href="/tag/vs/" class="dropdown-item taq"
           title="versusrev">#v.s</a>
        <a href="/tag/science/" class="dropdown-item taq"
           title="science bitch!">#science</a>
        <a href="/tag/news/" class="dropdown-item taq"
           title="all news all around the world">#news</a>
      </div>
    </div>
  </div>
</div>
