  <div class="level-item">
    <a href="/tag/vs/" title="versusrev, victoria&#39;s secret" class="taq">#vs</a>
  </div>
  <div class="level-item">
    <a href="/tag/art/" title="imagination, life is your creation, artists, masterpieces" class="taq">#art</a>
  </div>
  <div class="level-item">
    <a href="/tag/software/" title="programming" class="taq">#software</a>
  </div>
  <div class="level-item">
    <a href="/tag/movie/" title="cinema, directors, sometimes spoilers" class="taq">#movie</a>
  </div>
  <div class="level-item">
    <a href="/tag/game/" title="game consoles, pc, atari games" class="taq">#game</a>
  </div>
  <div class="level-item">
    <a href="/tag/vehicle/" title="cars, motorcycles, jet, etc." class="taq">#vehicle</a>
  </div>
<div class="level-item">
  <div class="dropdown is-hoverable is-right">
    <div class="dropdown-trigger">
      <svg class="dots-icon" style="fill: #BDBDBD">
        <use xlink:href="#dots-icon"></use>
      </svg>
    </div>
    <div class="dropdown-menu">
      <div class="dropdown-content">
        <a href="/tag/literature/" class="dropdown-item taq"
           title="books, authors, articles">#literature</a>
        <a href="/tag/politics/" class="dropdown-item taq"
           title="ideologies, lie, lies">#politics</a>
        <a href="/tag/history/" class="dropdown-item taq"
           title="events from past to present">#history</a>
        <a href="/tag/travel/" class="dropdown-item taq"
           title="attractions, places to visit">#travel</a>
        <a href="/tag/relationships/" class="dropdown-item taq"
           title="fall in love, women, men, lgbtiqa">#relationships</a>
        <a href="/tag/technology/" class="dropdown-item taq"
           title="electronic devices, know-how, applications of science">#technology</a>
        <a href="/tag/economy/" class="dropdown-item taq"
           title="finance, money, interest, currency, analysis, etc.">#economy</a>
        <a href="/tag/science/" class="dropdown-item taq"
           title="theories, laws, hypothesis, observations, etc.">#science</a>
        <a href="/tag/news/" class="dropdown-item taq"
           title="news from all over the world">#news</a>
        <a href="/tag/tv/" class="dropdown-item taq"
           title="all about series, tv shows etc.">#tv</a>
        <a href="/tag/ideas/" class="dropdown-item taq"
           title="functional">#ideas</a>
        <a href="/tag/music/" class="dropdown-item taq"
           title="songs, bands, all kinds of vibrations">#music</a>
        <a href="/tag/survey/" class="dropdown-item taq"
           title="subjective answers, [un]biased">#survey</a>
        <a href="/tag/entry-area/" class="dropdown-item taq"
           title="things in entryarea">#entry area</a>
        <a href="/tag/education/" class="dropdown-item taq"
           title="universities">#education</a>
        <a href="/tag/personality/" class="dropdown-item taq"
           title="famous personalities, fictitious persons, etc.">#personality</a>
        <a href="/tag/fb/" class="dropdown-item taq"
           title="gastronomy, cuisines, tastes">#food &amp; beverage</a>
        <a href="/tags/">tags</a>
      </div>
    </div>
  </div>
</div>

