<div class="level-item">
  <a href="#">hafta</a>
</div>
<div class="level-item">
  <a href="#">hepsi</a>
</div>
<div class="level-item">
  <a href="#">kanallar</a></div>
<div class="level-item">
  <a href="#">#reklam</a>
</div>
<div class="level-item">
  <a href="#">#music</a>
</div>
<div class="level-item">
  <a href="#">#literature</a>
</div>
<div class="level-item">
  <a href="#">#sports</a>
</div>
<div class="level-item">
  <a href="#">#tv</a>
</div>
<div class="level-item">
  <a href="#">#more</a>
</div>
<div class="level-item">
  <a href="#">#tv</a>
</div>
<div class="level-item">
  <div class="dropdown is-hoverable is-right">
    <div class="dropdown-trigger">
      <svg class="dots-icon" style="fill: #BDBDBD">
        <use xlink:href="#dots-icon"></use>
      </svg>
    </div>
    <div class="dropdown-menu">
      <div class="dropdown-content">
        <a href="#" class="dropdown-item">#moe</a>
        <a href="#" class="dropdown-item">#moe</a>
        <a href="#" class="dropdown-item">#moe</a>
      </div>
    </div>
  </div>
</div>
