  <div class="level-item">
    <a href="/tag/arac/" title="araba, motor, uçak, metrobüs" class="taq">#araç</a>
  </div>
  <div class="level-item">
    <a href="/tag/fikir/" title="bilgi olursa olabilen nöral elektrik akımı" class="taq">#fikir</a>
  </div>
  <div class="level-item">
    <a href="/tag/saglik/" title="hastalıklar, tıp gelısmeleri, ilaçlar" class="taq">#sağlık</a>
  </div>
  <div class="level-item">
    <a href="/tag/sanat/" title="tahayyül, estetik, şaheserler hakkında her türlüsü" class="taq">#sanat</a>
  </div>
  <div class="level-item">
    <a href="/tag/basi-boslar/" title="kanallandırılamayan başlıklar" class="taq">#başı-boşlar</a>
  </div>
  <div class="level-item">
    <a href="/tag/sinema/" title="yönetmen, oyuncu biraz da spoiler" class="taq">#sinema</a>
  </div>
<div class="level-item">
  <div class="dropdown is-hoverable is-right">
    <div class="dropdown-trigger">
      <svg class="dots-icon" style="fill: #BDBDBD">
        <use xlink:href="#dots-icon"></use>
      </svg>
    </div>
    <div class="dropdown-menu">
      <div class="dropdown-content">
        <a href="/tag/egitim/" class="dropdown-item taq"
           title="türk eğitim sistemi sorunu, üniversiteler vs.">#eğitim</a>
        <a href="/tag/tv--tr/" class="dropdown-item taq"
           title="yabancı diziler, televizyon programları ve müge anlı">#tv</a>
        <a href="/tag/teknoloji/" class="dropdown-item taq"
           title="elektronik cihazlar, know-how, mühendislik">#teknoloji</a>
        <a href="/tag/anket/" class="dropdown-item taq"
           title="anketör, tarafgirler vs.">#anket</a>
        <a href="/tag/yeme-i%C3%A7me/" class="dropdown-item taq"
           title="gastronomi, dünya mutfakları, rafine lezzetler">#yeme&amp;içme</a>
        <a href="/tag/entry-area--tr/" class="dropdown-item taq"
           title="entry area ile ilgili her şey">#entry area</a>
        <a href="/tag/seyehat/" class="dropdown-item taq"
           title="gezilmeye değer mekanlar rehberi">#seyahat</a>
        <a href="/tag/oyun/" class="dropdown-item taq"
           title="gamer, konsol, pc, turnuvalar">#oyun</a>
        <a href="/tag/politika/" class="dropdown-item taq"
           title="palavra, ideoloji, siyaset, yalan">#politika</a>
        <a href="/tag/edebiyar/" class="dropdown-item taq"
           title="kitaplar, yazarlar ve dostoyevski">#edebiyat</a>
        <a href="/tag/sahsiyet/" class="dropdown-item taq"
           title="tanınmış kişiler, hayali karakterler, magazin insanları">#şahsiyet</a>
        <a href="/tag/iliskiler/" class="dropdown-item taq"
           title="aşık olmak, arabesk sevgili, lgbtiqa">#ilişkiler</a>
        <a href="/tag/vs--tr/" class="dropdown-item taq"
           title="kim kimi yer, o mu bu mu?">#vs</a>
        <a href="/tag/bilim/" class="dropdown-item taq"
           title="hipotez, doğa, matematik, uzay kısaca her şey hakkında her şey">#bilim</a>
        <a href="/tag/yazilim/" class="dropdown-item taq"
           title="yazılım geliştirme, programlar, yapay zeka">#yazılım</a>
        <a href="/tag/ekonomi/" class="dropdown-item taq"
           title="yapısal reformlar, çokomelli, faiz, repo, bono, dolar,">#ekonomi</a>
        <a href="/tag/tarih/" class="dropdown-item taq"
           title="olmuş ve bitmişler">#tarih</a>
        <a href="/tag/heberler/" class="dropdown-item taq"
           title="yurttaki ve cihandaki havadisler">#haberler</a>
        <a href="/tag/muzik/" class="dropdown-item taq"
           title="parçalar, gruplar, titreşen her şey">#müzik</a>
        <a href="/tags/">tags</a>
      </div>
    </div>
  </div>
</div>

