{% extends "admin/base.html" %}

{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}


{% block blockbots %}
  <meta name="robots" content="NONE,NOARCHIVE">
  <link disabled id="admin-dark" href="{% static 'css/admin/style12.min.css' %}" rel="stylesheet">
  <link id="style" href="{% static 'css/admin/langswitcher.min.css' %}" rel="stylesheet">
{% endblock %}

{% block branding %}
  <h1 id="site-name" style="display: inline">
{#    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>#}
    <a href="{% url 'admin:index' %}">entry area</a>
  </h1>
  <button style="border: none;border-radius: 20px;padding: 4px;background: #2d2d2d;"
          onclick="dark_toggle();return false;" title="Toggle night mode">🌛
  </button>
  <script>
    function dark_toggle() {
      var el1 = document.getElementById("admin-dark");
      if (el1.disabled) {
        el1.disabled = false;
        localStorage.setItem("admin-dark", "enabled");
      } else {
        el1.disabled = true;
        localStorage.setItem("admin-dark", "disabled");
      }
    }

    if (localStorage.getItem("admin-dark") == "enabled") {
      document.getElementById("admin-dark").disabled = false;
    } else {
      document.getElementById("admin-dark").disabled = true;
    }
  </script>
  {% include "partial/lang-switcher.html" %}
{% endblock %}

{% block nav-global %}{% endblock %}
{% include "partial/lang-switcher.html" %}