{% extends "app/base.html" %}{% load i18n %}

{% block title %}
  {% if entry %}
    #{{ entry.id }} {{ entry.thread.title }} -
  {% endif %}
{% endblock %}


{% block content %}
  <div id="content">
    {% if entry %}
      <div id="thread">
        <a href="/t/{{ entry.thread.slug }}">
          <h2>{{ entry.thread.title }}</h2>
        </a>
        <span style="font-size: smaller">{{ entry.thread.views }} {% trans "viewed" %}</span>
        {% if LANGUAGE != entry.thread.lang %}
          <div id="alert"><strong>warning!</strong> this thread language is {{ entry.thread.lang }}</div>
        {% endif %}
        <hr>
      </div>

      {% for tag in tags %}
        <a href="{% url "thread:tag-read" tag.slug %}">#{{ tag.label }} </a>
      {% endfor %}
      <ul id="entries">
        {% with prev=entry.get_previous %}
          {% if prev != 0 %}
            <a href="{{ entry.thread.get_absolute_url }}">
              <button class="more">{{ prev }} {% trans "more" %}</button>
            </a>
          {% endif %}
        {% endwith %}

        {% include "app/entry.html" %}
        {% with next=entry.get_next %}
          {% if next != 0 %}
            <a href="{{ entry.thread.get_absolute_url }}?page=last">
              <button class="more">{{ next }} {% trans "more" %}</button>
            </a>
          {% endif %}
        {% endwith %}
      </ul>
    {% else %}
      <div class="entry">
        {% trans "entry could not found" %}
      </div>
    {% endif %}
  </div>
{% endblock %}