{% extends "app/base.html" %}{% load i18n %}
{% block title %}enter - {% endblock %}
{% block content %}
<div id="content">
    <div class="entries">
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
          <h2>{% trans "enter"%}</h2>
        {% endif %}
      {% endif %}

      <form method="post" action="{% url 'user:login' %}">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag|lower }}
            {{ field }}
          </div>
        {% endfor %}
        <div>
          <input class="btn" type="submit" value="login"/>
          <input type="hidden" name="next" value="{{ next }}"/>
        </div>
      </form>
    </div>
  </div>
</div>

  {# Assumes you setup the password_reset view in your URLconf #}
  {#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}

{% endblock %}