<li id="entry">
  <div id="{{ entry.id }}" class="body">

    {% autoescape off %}
      {{ entry.get_body | linebreaks | lower }}
    {% endautoescape %}
{#One day if project will be popular render (see:blabla) in frontend with js regex#}
{#    {% autoescape off %}#}
{#      {{ entry.body }}#}
{#    {% endautoescape %}#}
  </div>
  <footer>
    <div class="support">
      <a href="{% url "entry:read" entry.id %}" class="date">
        #{{ entry.id }}
      </a>
      <a href="" class="fav">
        <svg class="fav-icon" style="width: 18px;
										height: 18px; fill:#f7a31c; vertical-align: sub">
          <use xlink:href="#fav-icon"></use>
        </svg>
      </a>
    </div>
    <div class="info">
      {% if entry.updated_at %}
        <a href="{% url "entry:read" entry.id %}" class="date">
          {% if entry.created_at|date:"d.m.Y" == entry.updated_at|date:"d.m.Y" %}
            {{ entry.created_at|date:"d.m.Y H:i" }} ~ {{ entry.updated_at|date:"H:i" }}
          {% else %}
            {{ entry.created_at|date:"d.m.Y H:i" }} ~ {{ entry.updated_at|date:"d.m.Y H:i" }}
          {% endif %}
        </a>
      {% else %}
        <a href="{% url "entry:read" entry.id %}" class="date">
          {{ entry.created_at|date:"d.m.Y H:i" }}
        </a>
      {% endif %}

      <a href="{% url "user:profile" entry.username%}" class="author">{{ entry.username }}</a>
      <a href="">
        <svg class="search-icon" style="width: 18px;
									height: 18px; fill:#f7a31c; vertical-align: middle">
          <use xlink:href="#dots-icon"></use>
        </svg>
      </a>
      <div class="dropdown" style="display:inline-block">
        <i class="fa fa-ellipsis-h fa-2"></i>
      </div>
    </div>
  </footer>
</li>