{% extends 'app/base.html' %}
{% load i18n %}
{% block title %}
  {{ thread.title }} -
{% endblock %}
{% block content %}
  <div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">{{ thread.title }}
            <span class="small pull-right">{{ thread.views }} {% trans "viewed" %}</span>
          </div>
          {% if LANGUAGE != thread.lang %}
            <div class="alert alert-danger">This thread language is {{ thread.lang }}</div>
          {% endif %}
        </div>
      </div>
      <br>
    {% for tag in tags %}
      <a href="{}">#{{ tag.label }} </a>
    {% endfor %}
      <div class="col-md-2">
        {% if messages %}
          <div class="alert alert-success messages" role="alert"
          style="position: fixed; z-index: 9999">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      {% include 'threads/lefting.html' %}
      <div class="col-md-8">
        <div class="panel panel-default">
          {% for entry in entries %}
            {% include 'app/entry.html' %}
          {% endfor %}
        </div>
        {% include 'app/epag.html' %}
      </div>
      {% include 'app/entryarea.html' %}
      </div>
    </div>
{% endblock %}
</div>