{% extends 'app/base.html' %}
{% block title %}{{ title }} - {% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">{{ title }} </div>
        </div>
      </div>
      <div class="col-md-2">
        thread does not exist. if you want to crate this thread be sure it obeys the rules
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          {% for entry in entries %}
            {{ entry.get_row_number }}
            {% include 'app/entry.html' %}
          {% endfor %}
        </div>
        {% include 'app/epag.html' %}
      </div>
      {% include 'app/new_entryarea.html' %}
    </div>
  </div>
{% endblock %}