{% extends 'app/base.html' %}{% load i18n %}
{% block title %}#{{ tag.label }} - {% endblock %}
{% block content %}
  <p class="title is-4">#{{ tag.label }}</p>
  <p class="">{{ tag.descr }}</p>
  <div class="level is-mobile">
    <div class="level-right">
      <div class="level-item">
        {% include "partial/pagination.html" %}
      </div>
    </div>
  </div>
  <div class="menu-list">
    <ul>
      {% for thread in threads %}
        <li>
          <a href="{% url "thread:read" thread.slug %}">
            {{ thread.title }}
            <span class="is-pulled-right is-size-8">
              {{ thread.ecnt }}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
{% block rightpane %}
  {% if user.is_staff %}
    <a href="{% url "admin:index" %}threads/tag/{{ tag.id }}" class="primary">
      {% trans "edit on admin" %}
    </a>
  {% endif %}
{% endblock %}