{% extends 'app/base.html' %}{% load i18n %}
{% block title %}{% trans "tags" %} - {% endblock %}
{% block content %}
  <p class="title is-4">{% trans "tags" %}</p>
  <div class="level is-mobile">
    <div class="level-right">
      <div class="level-item">
        {% include "partial/pagination.html" %}
      </div>
    </div>
  </div>
  <div class="menu-list">
    <ul>
    {% for tag in tags %}
      <li>
        <a href="{% url "thread:tag-read" tag.slug %}" class="is-size-5">
          # {{ tag.label }}
          <span class="is-pulled-right is-size-6">
            {{ tag.tcnt }}
          </span>
          <p class="is-size-7">{{ tag.descr }}</p>
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}