{% extends "auth/profile.html" %}{% load i18n %}

{% block tabs %}
  <div class="tabs is-boxed">
    <ul>
      <li class="is-active">
        <a>
          <span>{{ title }}</span>
        </a>
      </li>
      <li>
        <a href="{% url "user:favorites" user_profile %}">
          <span>{% trans "favorites" %}</span>
        </a>
      </li>
      {% ifequal user_profile.username request.user.username %}
        <li>
          <a href="{#  {% url "user:hidden" user_profile %} #}">
            <span>{% trans "hidden" %}</span>
          </a>
        </li>
      {% endifequal %}
    </ul>
  </div>
{% endblock %}