{% load static %}
<meta name="apple-mobile-web-app-title" content="entry area">
<meta name="application-name" content="entry area">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="msapplication-config" content="{% static 'img/favicon/browserconfig.xml' %}">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#f7a31c">
<link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}">
