<div class="container main">{% load i18n %}{% get_current_language as LANGUAGE %}
  <div id="topbar">
    <div class="columns is-mobile is-vcentered">
      <div class="column is-3 is-hidden-mobile">
        <a href="/" id="logo">
          {{ LANGUAGE }}
        </a>
      </div>
      <div class="column is-narrow-mobile is-hidden-tablet" style="width: 90px;padding-right: 0">
        <a href="/" id="min-logo">
          {{ LANGUAGE }}
        </a>
      </div>
      <div class="column is-6-tablet" style="padding-left: 0">
        <div class="search-container">
          <div style="width: 100%">
            <form action="/s" method="GET" role="search">
              <input id="q" type="text" placeholder="{% trans "thread, #entry or @user" %}"
                     class="search-bar" name="q" spellcheck="false" autocomplete="off"
                     maxlength="50">
              <button type="submit" class="search-btn">
                <svg class="search-icon">
                  <use xlink:href="#search-icon"></use>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="column is-3 is-hidden-mobile">
        <div class="is-pulled-right">
          {% if user.is_authenticated %}
            <a href="{% url 'user:profile' user.username %}" title="{{ user.get_username }}">
              <svg class="profile-icon">
                <use xlink:href="#profile-icon"></use>
              </svg>
              {% trans "me" %}
            </a>
            <a href="{% url 'user:logout' %}?next={{ request.path }}" style="margin: 0 20px">
              <svg class="logout-icon">
                <use xlink:href="#logout-icon"></use>
              </svg>
              {% trans "logout" %}
            </a>
          {% else %}
            <a href="{% url 'user:login' %}?next={{ request.path }}"
               class="button is-primary is-outlined is-rounded is-small">
              {% trans "enter" %}
            </a>
            <a href="{% url 'user:register' %}" id="register"
               class="button is-primary is-rounded is-small">
              {% trans "register" %}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div id="subbar">
    <div class="level is-hidden-mobile is-marginless">
      <div class="level-item">
        <a href="{% url "thread:index" %}?week=1" class="taq">{% trans "week" %}</a>
      </div>
      <div class="level-item">
        <a href="{% url "thread:index" %}" class="taq">{% trans "all" %}</a>
      </div>
      <div class="level-item">
        <a href="{% url "thread:tags" %}">{% trans "tags" %}</a></div>
      {% if LANGUAGE == "en" %}
        {% include "partial/nav/en.html" %}
      {% elif LANGUAGE == "tr" %}
        {% include "partial/nav/tr.html" %}
      {% endif %}
    </div>
  </div>
  <div id="subbar-mobile">
    <div class="is-hidden-tablet level is-mobile">
      <div class="level-item">
        <a href="{% url 'thread:index' %}?week=1">{% trans "week" %}</a>
      </div>
      <div class="level-item">
        <a href="{% url 'thread:index' %}">{% trans "all" %}</a>
      </div>
      <div class="level-item">
        <a href="{% url 'thread:tags' %}">{% trans "tags" %}</a>
      </div>
      {% if user.is_authenticated %}
        <div class="level-item">
          <a href="{% url 'user:profile' user.username %}">
{#            {% trans "me" %}#}
            <svg class="profile-icon" style="width: 18px;
						    height: 18px;">
              <use xlink:href="#profile-icon"></use>
            </svg>
          </a>
        </div>
        <div class="level-item">
          <a href="{% url 'user:logout' %}?next={{ request.path }}" class="is-primary">
{#            {% trans "logout" %}#}
            <svg class="logout-icon" style="width: 18px;
						    height: 18px;">
              <use xlink:href="#logout-icon"></use>
            </svg>
          </a>
        </div>
      {% else %}
        <div class="level-item">
          <a href="{% url 'user:login' %}?next={{ request.path }}">{% trans "enter" %}</a>
        </div>
        <div class="level-item">
          <a href="{% url 'user:register' %}" class="is-primary">{% trans "register" %}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>