<div id="lang-switcher">{% load i18n %}
  <ul id="doc-languages" class="language-switcher">
    <li class="other">
      <a href="https://en.entryarea.com{{ request.get_full_path }}" title="{% trans " english" %}">en</a>
    </li>
    <li class="other">
      <a href="https://tr.entryarea.com{{ request.get_full_path }}" title="{% trans " turkish" %}">tr</a>
    </li>
    <li class="current">
      <span class="noselect">
        {% get_current_language as LANGUAGE %}
        {% trans "language" %}:
        <strong>{{ LANGUAGE }}</strong>
      </span>
    </li>
  </ul>
</div>
