{% if is_paginated %}
  {% if page_obj.has_previous %}
    <button class="btn pag"><a href="{{ request.get_path }}?page={{ page_obj.previous_page_number }}">❮</a></button>
  {% endif %}
  <select name="" id="paginator" class="pagination">
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <option selected value="{{ i }}">{{ i }}</option>
      {% else %}
        <option value="{{ i }}">{{ i }}</option>
      {% endif %}
    {% endfor %}
  </select>
  {% if page_obj.has_next %}
    <button class="btn pag"><a href="?page={{ page_obj.next_page_number }}">❯</a></button>
  {% endif %}

  <script>
    $(".pagination").on("change", function (e) {
      let $url = window.location.href;
      {#let $page = $(".pagination").val();#}
      let $page = $(this).val();
      window.location.replace("?page=" + $page);
    });
  </script>
{% endif %}