{% extends 'app/base.html' %}
{% load i18n %}
{% block title %}
  {{ thread.title }} -
{% endblock %}
{% block content %}
  <div id="content">
    <div id="thread">
      <h2>{{ thread.title }}</h2>
      <span style="font-size: smaller">{{ thread.views }} {% trans "viewed" %}</span>
      <div style="float: right; display: inline-block">{% include "partial/pagination.html" %}</div>
      {% if LANGUAGE != thread.lang %}
        <div id="alert">
          <strong>{% trans "warning!" %}</strong>
          {% trans "the language of this thread is" %}
          <strong>{{ thread.lang }}
            {% trans thread.lang %}
          </strong>
        </div>
      {% endif %}
      <hr>
    </div>
    {% for tag in tags %}
      <a href="{% url "thread:tag-read" tag.slug %}"
         title="{{ tag.descr }}">#{{ tag.label }} </a>
    {% endfor %}
    <ul id="entries">
      {% for entry in entries %}
        {% include 'app/entry.html' %}
      {% empty %}
        {{ thread.user }} created this thread but now no entries available
      {% endfor %}
    </ul>
      {% include 'partial/pagination.html' %}
    <hr>
    {% if user.is_authenticated %}
      {% include 'app/entryarea.html' %}
    {% else %}
      <p>
        {% trans "please" %}
        <a href="{% url 'user:login' %}?next={{ request.path }}" style="color: #F7A31C">
          {% trans "enter" %}
        </a>
        {% trans "to write" %}.
      </p>
    {% endif %}
  </div>

{% endblock %}
