{% extends 'app/base.html' %}{% load i18n %}
{% block title %}{{ tag.label }} - tag - {% endblock %}
{% block content %}
  <div id="content">
    <div id="thread">
      <h1 style="display: inline" title="{{ thread_cnt }} {% trans "threads" %}">
        #{{ tag.label }}
      </h1>
      <div style="float: right; display: inline-block; margin-top: 5px">
        {% include "partial/pagination.html" %}
      </div>
      <p>{{ tag.descr }}</p>
      <hr>
    </div>
    <div id="entries">
      {% for thread in threads %}
        <a href="/t/{{ thread.slug }}" style="margin-left: 15px">
          <div class="hoverable" style="padding: 15px 0">
            {{ thread.title }}
            <span style="position: relative; float: right; margin-right: 20px">{{ thread.ecnt }}</span>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
