{% extends 'app/base.html' %}
{% load i18n %}
{% block title %}
  {% if entry %}
    #{{ entry.id }} {{ entry.thread.title }} -
  {% endif %}
{% endblock %}
{% block content %}
  <div class="container">
  {% if entry %}
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="{{ entry.thread.get_absolute_url }}">{{ entry.thread.title }} </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
        {% with prev=entry.get_previous %}
{#          {% if entry.get_previous != 0 %}#}
            {% if prev != 0 %}
            <div class="text-center">
              <a href="{{ entry.thread.get_absolute_url }}">
{#                <button class="btn-block">{{ entry.get_previous }}</button>#}
                <button class="btn-block">{{ prev }} {% trans "more" %}</button>
              </a>
            </div>
          {% endif %}
        {% endwith %}
          {% include 'app/entry.html' %}
        {% with next=entry.get_next %}
{#          {% if entry.get_next != 0 %}#}
          {% if next != 0 %}
            <div class="text-center">
              <a href="{{ entry.thread.get_absolute_url }}?page=last">
{#                <button class="btn-block">{{ entry.get_next }}</button>#}
                <button class="btn-block">{{ next }}{% trans "more" %}</button>
              </a>
            </div>
          {% endif %}
        {% endwith %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            #{{ id }}
          </div>
        </div>
          <div class="panel-body" style="color: #eaeaea">
            #{{ id }} {% trans "entry could not found" %}
          </div>
      </div>
    </div>
  {% endif %}
  </div>
{% endblock %}


