{% extends "app/base.html" %}{% load i18n %}

{% block title %}
  {% if entry %}
    entry #{{ entry.id }} - {{ entry.thread.title }} -
  {% else %}
    {% trans "entry could not found" %} -
  {% endif %}
{% endblock %}

{% block content %}
  {% if entry %}
    <div name="thread" class="panel">
      <p class="title is-4">
        <a href="{{ entry.thread.get_absolute_url }}">{{ entry.thread.title }}</a>
      </p>
      <hr>
      {% with prev=entry.get_previous %}
        {% if prev != 0 %}
          <a href="{{ entry.thread.get_absolute_url }}">
            <button class="button is-fullwidth is-dark is-outlined has-text-light">
              {{ prev }} {% trans "more" %}
            </button>
          </a>
        {% endif %}
      {% endwith %}
      {% include "app/entry.html" %}
      {% with next=entry.get_next %}
        {% if next != 0 %}
          <a href="{{ entry.thread.get_absolute_url }}?page=last">
            <button class="button is-fullwidth is-dark has-text-light">
              {{ next }} {% trans "more" %}
            </button>
          </a>
        {% endif %}
      {% endwith %}
    </div>
  {% else %}
    <p class="subtitle">{% trans "entry could not found" %}</p>
    <p>{% blocktrans %}maybe entry #{{ id }} never existed. never and ever.{% endblocktrans %}</p>

  {% endif %}
{% endblock %}

{% block rightpane %}
  {% if entry %}
    <p class="subtitle">{% trans "thread's tags" %}</p>
    <div class="tags are-medium">
      {% for tag in entry.thread.tags.all %}
        <span class="tag is-primary">
        <a href="{% url "thread:tag-read" tag.slug %}" class="has-text-dark">
          #{{ tag.label }}
        </a>
      </span>
      {% empty %}
        <p>
          {% trans "this thread has not any tag" %}
        </p>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}