{% extends 'app/base.html' %}
{% block title %}edit #{{ entry.id }} - {% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">{{ entry.thread.title }} </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          {% if user.is_authenticated %}
            <div class="form-group" style="margin-left: 12px">
              <form action="/entry/edit/{{ entry.id }}" method="POST">
                {% csrf_token %}
                {#                                    {{ form.as_p }}#}
                <textarea name="body" id="body" cols="75%" rows="5">{{ entry.body }}</textarea>
                <button type="submit" style="margin-left: 1px;margin-bottom: 10px" class="btn btn-default">Save</button>
              </form>
            </div>
          {% else %}
            <p class="text-center">please <a href="{% url 'login' %}?next={{ request.path }}">sign in</a> to write in
              this thread.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}